<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "https://www.thymeleaf.org"
>
<head><title>Spring Sqlite Example</title>
	<link rel = "stylesheet" th:href = "@{/basics.css}">
</head>
<body>

	<br/>
	<h3>Welcome!</h3>
	<br/><h5 th:text = "${#dates.formatISO(#dates.createNow())}"/>
	<br/>
	<br/><a th:href = "@{/}">/(root))</a>
	<br/><a th:href = "@{/home}">/home</a>
	<br/><a th:href = "@{/actuator}">/actuator</a>
	<br/><a th:href = "@{/actuator/health}">/actuator/health</a>
	<br/>
	<br/><hr />
	<br/><a th:href = "@{/getCustomerRnd}">/getCustomerRnd</a>
	<br/><a th:href = "@{/showCustomers}">/showCustomers</a>
	<br/><a th:href = "@{/showCustomersAll}">/showCustomersAll</a>
	<br/><a th:href = "@{/showCustomer/10}">/showCustomer/10</a>

</body>
</html>
