<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "https://www.thymeleaf.org"
>
<head><title>customer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<style>th { width: 200px; text-align: right; }</style>
</head>

<body>
<div class="container p-1 bg-primary text-white text-center">
	<h3 th:text = "${#strings.capitalize('customer')}" />
	<h5 th:text = "${#dates.formatISO(#dates.createNow())}"></h5>
	<a class = "text-white" th:href = "@{/}" >return</a>
</div>

<div class="row"><div class = "col"></div>

	<div class = "col text-center">
		<form action = "#" th:action = "@{/showCustomerMod}" method = "post" th:object = "${customer}">
			<br /><b class = "text-black" th:text = "${httpStatus}?:'Data Only'" ></b>
			<br />
			<table style = "table-sm table-striped text-center">
				<tr><th>customer_id	</th><td></td><td><input type = "text" th:field = "*{customer_id}"	/></td></tr>
				<tr><th>first_name	</th><td></td><td><input type = "text" th:field = "*{first_name}"	/></td></tr>
				<tr><th>last_name	</th><td></td><td><input type = "text" th:field = "*{last_name}"	/></td></tr>
				<tr><th>address_id	</th><td></td><td><input type = "text" th:field = "*{address_id}"	/></td></tr>
				<tr><th>email		</th><td></td><td><input type = "text" th:field = "*{email}"		/></td></tr>
				<tr><th>store_id	</th><td></td><td><input type = "text" th:field = "*{store_id}"		/></td></tr>
				<tr><th>active		</th><td></td><td><input type = "text" th:field = "*{active}"		/></td></tr>
				<tr><th>activebool	</th><td></td><td><input type = "text" th:field = "*{activebool}"	/></td></tr>
				<tr><th>create_date	</th><td></td><td><input type = "text" th:field = "*{create_date}"	/></td></tr>
				<tr><th>last_update	</th><td></td><td><input type = "text" th:field = "*{last_update}"	/></td></tr>

			</table>

			<br />
			<input class = "btn btn-primary" type="submit" name="action" value="save" />
			<input class = "btn btn-success" type="submit" name="action" value="reset" />
			<input class = "btn btn-danger" type="submit" name="action" value="delete" />
		</form>
	</div>
	<div class = "col"></div>
</div>

</body>
</html>
