<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "https://www.thymeleaf.org"
>
<head><title>graphql pgs</title><meta charset = "UTF-8">
	<link rel = "stylesheet" th:href = "@{/basics.css}">

</head>
<body><h3>graphql pgs</h3>
<br/><h5 th:text = "${#dates.formatISO(#dates.createNow())}"/>

<br/>
<br /><a href = "/getActors">/getActors</a>
<br /><a href = "/getActorRnd">/getActorRnd</a>
<br />
<br /><a href = "/getAddresses">/getAddresses</a>
<br /><a href = "/getAddressRnd">/getAddressRnd</a>
</body>
</html>