<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "https://www.thymeleaf.org"
>
<head><title>graphql pgs</title><meta charset = "UTF-8">
	<link rel = "stylesheet" th:href = "@{/basics.css}">

</head>
<body><h3>graphql pgs</h3>
<br/><h5 th:text = "${#dates.formatISO(#dates.createNow())}"/>

<br /><br />
<a href = "/">/(root)</a> |
<a href = "/actuator">/actuator</a> |
<a href = "/actuator/health">/actuator/health</a>

<br /><br /><hr /><br />
<a href = "/getActors">/getActors</a> |
<a href = "/getActorsCnt/2">/getActorsCnt/2</a> |
<a href = "/getActorRnd">/getActorRnd</a> |

<br /><br />
<a href = "/getAddresses">/getAddresses</a> |
<a href = "/getAddressRnd">/getAddressRnd</a>

<br /><br />
<a href = "/getCities">/getCities</a> |
<a href = "/getCityRnd">/getCityRnd</a>

<br /><br /><hr /><br />
<a href = "/graphiql">/graphiql</a>

</body>
</html>