<div th:fragment="bootFootLinks" >

<style>.lnk { text-align: center; color: #e0e0e0; text-decoration: none; } </style>

<nav class ="navbar navbar-expand-sm bg-black navbar-dark">

	<div class="container-fluid">
		<a class = "navbar-brand" href = "/"></a>
		<ul class="navbar-nav" >
			<a class = "lnk" href = "https://wordfree.net/bibles/multiview/index.html"	>中文 word		</a>
			<a class = "lnk" href = "https://translate.google.com/?hl=en&tab=TT&sl=auto&tl=en&op=translate"	>&nbsp; • 翻译 (fan1yi4)	</a>
			<a class = "lnk" href = "https://www.w3schools.com/"						>&nbsp; • w3schools	</a>
			<a class = "lnk" href = "https://www.udemy.com/home/my-courses/learning/"	>&nbsp; • udemy		</a>
			<a class = "lnk" href = "https://github.com/mamgeorge"						>&nbsp; • github		</a>
			<a class = "lnk" href = "https://www.unicodepedia.com/"						>&nbsp; • unicodepedia</a>
		</ul>
		<a class = "navbar-brand" href = "/"></a>
	</div>

</nav>

</div>

