<div th:fragment="bootHeadLinks" >

<div class="p-1 bg-danger text-white text-center"><h3>Contents</h3></div>

<nav class ="navbar navbar-expand-sm bg-black navbar-dark">

	<div class="container-fluid">
		<a class = "navbar-brand" href = "/">index</a>
		<ul class="navbar-nav">
			<a class = "nav-link" href = "/showCities/20"	>showCities/20		</a>
			<a class = "nav-link" href = "/showCityRnd"		>🔴 showCityRnd		</a>
			<a class = "nav-link" href = "/showCityNum/10"	>🔴 showCityNum/10	</a>
			<a class = "nav-link" href = "/jsonCities/20"	>🔴 jsonCities/20	</a>
			<a class = "nav-link" href = "/jsonCityRnd"		>🔴 jsonCityRnd		</a>
			<a class = "nav-link" href = "/jsonCityNum/10"	>🔴 jsonCityNum/10	</a>
		</ul>
		<form class = "d-flex"><button class = "btn btn-warning" value = "testing"></button></form>
	</div>

</nav>

</div>