<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><title>countries</title>
<link rel = "stylesheet" href = "style.css">
</head>
<body><center>

<br /><h3>countries!</h3>
<br /><h5 th:text = "${#dates.formatISO(#dates.createNow())}" />
<!--h5 th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm')}" /-->
<br />
<br /><h5>Thymeleaf showing 
	<span th:text="${#lists.size(countryList)}" /> out of 
	<span th:text="${countriesTotal}" />
	</h5>
<div class = "divbox" style = "width: 70%;">
<table>
<tr>
	<th>#</th>
	<th>id</th>
	<th>continent</th>
	<th>abbr</th>
	<th>country</th>
	<th>code2</th>
	<th>code3</th>
	<th>number</th>
	</tr>
<!--tr th : each="country: ${countryList}" -->
<!--tr th : each="country: ${#lists.sort(countryList)}" -->
<tr th:each="country: ${countryList}" >
    <td><span th:text="${countryStat.index}" /> / <span th:text="${countryStat.count}" /></td>
    <td th:text="${country.id}" />
    <td th:text="${country.continent}" />
    <td th:text="${country.abbr}" />
    <td th:text="${country.country}" />
    <td th:text="${country.code2}" />
    <td th:text="${country.code3}" />
    <td th:text="${country.number}" />
	</tr>
</table>
</div>

<br /><a th:href="@{/}">/(root)</a>

</center></body>
</html>
