<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><title>Hello World!</title>
<link rel = "stylesheet" href = "style.css">
</head>
<body><center>
<br />
<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
<h5 th:text = "${#dates.formatISO(#dates.createNow())}" />
	
<br /><br />
<form th:action="@{/logout}" method="post">
<input type="submit" value="Sign Out"/>
</form>

<br /><a th:href="@{/}">root</a> 	
</center></body>
</html>
