<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><title>Spring Security Example</title>
<link rel = "stylesheet" href = "style.css">
</head>
<body><center>

<br /><h3>Welcome!</h3>
<br /><h5 th:text = "${#dates.formatISO(#dates.createNow())}" />
<br />
<br /><a th:href="@{/}">/(root)</a>
<br /><a th:href="@{/hello}">/hello (Click here to see a greeting)</a>
<br /><a th:href="@{/login}">/login</a>

<hr /><a th:href="@{/checks}">/checks</a>
<br /><a th:href="@{/count}">/count (countries)</a>
<br /><a th:href="@{/countries}">/countries</a>
<br /><a th:href="@{/country/5}">/country/5</a>
<br /><a th:href="@{/country?id=5}">/country?id=5</a>

<hr /><a th:href="@{/uploader}">/uploader (or reloader)</a>
<br />
<form th:action="@{/login}" method="post">
<a th:href="@{/uploaded}">/uploaded (multipart)</a>

</form>

</center></body>
</html>
