<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
	xmlns:th = "https://www.thymeleaf.org"
	xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head><title>Login</title>
<link rel = "stylesheet" th:href = "@{/css/basics.css}">
<style>
body { font-family: verdana; margin: auto; text-align: center; }
.center { margin-left: auto; margin-right: auto;  }
</style>
</head>

<body><h3>Welcome Login!</h3>
<br/><h5 th:text = "${#dates.formatISO(#dates.createNow())}"/>

<span th:if="${param.error}"  ><br/><br/><b style = "color: red;"> Invalid username or password! </b></span>
<span th:if="${param.logout}" ><br/><br/><b style = "color: red;"> You have been logged out! </b></span>

<br /><br /><form th:action="@{/login}" method = "post">
<table class = "center" >
<tr><th>username</th><td><input type = "text"		name = "username" value = "user"	/></td></tr>
<tr><th>password</th><td><input type = "password"	name = "password" value = "password"	/></td></tr>
<tr><td colspan = "2" style = "text-align: center">
	<input type = "submit" value = "Sign In" /></td></tr>
</table>
</form>

<br/><hr />
<br/><a th:href = "@{/}">return</a>

</body></html>
