<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><title>Spring Security Example </title>
<link rel = "stylesheet" href = "style.css">
</head>
<body><center>
<br /><h3>Login!</h3>
<br /><h5 th:text = "${#dates.formatISO(#dates.createNow())}" />
<br />
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

<br />
<form th:action="@{/login}" method="post">
	<table style = "width: 400px;">
	<tr><td>UserName: </td><td><input type="text"		name="username" value="user" /></td></tr>
	<tr><td>Password: </td><td><input type="password"	name="password" value="secret"/></td></tr>
	<tr><td colspan = "2" ><input type="submit" value="Sign In"/></td></tr>
	<table>
	</form>

<br /><a th:href="@{/}">/(root)</a>	
</center></body>
</html>
