body { font-family: verdana, monospace; margin: auto; text-align: center; }

h1, h2, h3, h4, h5, h6 { color: #000080; display: inline; }

a, a.hover, a.visited { color: blue; text-decoration: none ; font-size: 9pt; }

table { width: 98%; margin: auto; border-spacing: 1px; border-collapse: collapse; }
tr:nth-child(even) { background: #ffffff; }
tr:nth-child( odd) { background: #e0e0e0; }
th, td { border: 0.5px solid black; padding: 4px; padding-left: 16px; font-size: 9pt; }
td { text-align: left; }
// td:nth-child( 3 ) { text-align: right; }

hr { color: #cccccc; width: 80%; }

.divbox { height: 240px; overflow: scroll; width: 80%; margin: auto; background-color: #e0e0e0;}

.red { background-color: #f0c0c0; }
.blu { background-color: #c0c0f0; }
.grn { background-color: #c0f0c0; }
.prp { background-color: #f0c0f0; }
.gra { background-color: #e0e0e0; }