<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">
<head><title>histories</title>
	<meta charset = "UTF-8">
	<link rel = "stylesheet" th:href = "@{/basics.css}">
	<script type = "text/javascript" th:src = "@{/basics.js}"></script>
	<style>
table.main { width: 600px; border: 1px solid black; text-align: left;  }
td, th { text-align: left; vertical-align: top; margin: 0px; padding: 4px; }
div { width: 640px; height: 500px; overflow: auto; }
</style>
</head>

<body><center>
<center><h3>history listing</h3><br/>
	<br/>Total Listings: <span th:text = "${#lists.size(histories)}"></span>

	<div><table class = "main" >
		<tr>
			<th>id</th>
			<th>dateRange</th>
			<th>eramain</th>
			<th>personname</th>
			<th>eventmain</th>
			<th>referenced</th>
			<th>groupings</th>
			</tr>
		<tr th:each = "history: ${histories}">

		<td><span id = "id" th:text = "${history?.id}"/>	</td>

		<td style = "white-space: nowrap;">
			<span id = "datebeg" th:text = "${history?.datebegpre}"/><span
			th:text = "${#strings.substring(history?.datebeg, 0, 4)}"/>
			<span id = "dateend" th:text = "${history?.dateendpre}"/><span
			th:text = "${#strings.substring(history?.dateend, 0, 4)}"/>
		</td>

		<td><span id = "eramain" th:text = "${history?.eramain}"/>	</td>
		<td><span id = "personname" th:text = "${history?.personname}"/>	</td>
		<td><span id = "eventmain" th:text = "${history?.eventmain}"/>	</td>
		<td><span id = "referenced" th:text = "${history?.referenced}"/>	</td>
		<td><span id = "groupings" th:text = "${history?.groupings}"/>	</td>
		</tr>
	</table></div>
</center>

<br/><hr/>
<a href = "/">return</a>
<br/><h6 th:text = "${#strings.randomAlphanumeric(10)}"></h6>

</center></body>
</html>
