
body { font-family: verdana, monospace; margin: auto; text-align: center; color: #000080;
	font-size: 12pt; }

h1, h2, h3, h4, h5, h6 { color: #000080; display: inline; }
form { display: inline; }

a, a.hover, a.visited { font-family: verdana,color: blue; text-decoration: none ; }

table { width: 98%; margin: auto; border-spacing: 1px inset black; border-radius: 10px; border-collapse: collapse; }
tr:nth-child(even) { background: #ffffff; }
tr:nth-child( odd) { background: #e0e0e0; }
td:nth-child( 2 ) { text-align: left; }
th, td { text-align: left; padding: 4px; padding-left: 16px; font-size: 0.8em;
	border: 3px inset black; border-radius: 10px; }

hr { color: #cccccc; width: 80%; }

.btn {  display: inline; margin: auto; text-align: center;
	font-weight: bold; border: 5px inset black; border-radius: 10px; }

.divbox { height: 240px; overflow: scroll; width: 60%; margin: auto; background-color: #e0e0e0;}

.red { background-color: #a06060; color: #ffffff; }
.blu { background-color: #6080a0; color: #ffffff; }
.grn { background-color: #60a060; color: #ffffff; }
.prp { background-color: #a060a0; color: #ffffff; }
.gra { background-color: #808080; color: #ffffff; }
