<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
<head><title>index</title>
	<meta charset = "UTF-8">
	<link rel = "stylesheet" href = "basics.css">
	<style>
	img { border: 10px #a0a080 outset; width: 450px; height: 300px; border-radius: 15px; }
	</style>
</head>

<body>
<center><h3>index</h3>
	<br/><b><span th:text = "${#dates.formatISO(#dates.createNow())}"/></b>
	<br/>
	<br/>
	<h2><span>	History! | 历史 </span></h2>
	<br/>
	<br/><img src = "/images/history.png"/>

	<br/><br/>
	<a href = "/">/(root)</a> |
	<a href = "/index">/index</a> |
	<a th:href = "@{/home}">/home</a>

	<br/><br/>
	<a href = "/listing">/listing</a> |
	<a href = "/inputs">/inputs</a> /
	<a href = "/inputs/0">/inputs/0</a>

	<br/><br/>
	<fieldset><legend>actuators</legend>
		<a href = "/actuator"			>/actuator	</a> |
		<a href = "/actuator/info"		>/info		</a> |
		<a href = "/actuator/health"	>/health	</a> |
		<a href = "/actuator/env"		>/env		</a> |
		<a href = "/actuator/beans"		>/beans		</a> |
		<a href = "/actuator/metrics"	>/metrics	</a> |
		<a href = "/actuator/configprops"	>/configprops	</a> |
		<a href = "/actuator/conditions"	>/conditions	</a> |
		<br/>
		<a href = "/actuator/logfile"		>/logfile		</a> |
		<a href = "/actuator/sessions"		>/sessions		</a> |
		<a href = "/actuator/auditevents"	>/auditevents	</a> |
		<a href = "/actuator/shutdown"		>/shutdown		</a> |
	</fieldset>

	<br />

	<a href = "/errors">/errors</a> |
	<a href = "/h2console">/h2console</a>

	<br/><br/>
	<hr/>
	<a href = "/">return</a>

</center>
</body>
</html>
