<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head><title>index</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
</head>

<body><center><h3>index</h3>
	<br/>
	<br/>
	<h5>
		<script>document.writeln( new Date().toISOString() );</script>
	</h5>
	<br/><h5 th:text="${#dates.formatISO(#dates.createNow())}"/></h5>

	<br/><br/>
	<a href="/">/(root)</a> |
	<a href="/index">/index</a> |
	<a th:href="@{/home}">/home</a> |

	<br/><br/>
	<a href="/listing">/listing</a--> |
	<a href="/inputs/0">/inputs/0</a>

	<br/><br/>
	<a href="/h2console">/h2console</a>

	<br/><br/>
	<hr/>
	<a href="/">return</a>

</center>
</body>
</html>
