<!DOCTYPE html>
<html lang = "en" xmlns:th = "https://www.thymeleaf.org">
<head>
	<title>inputs</title>
	<meta charset = "UTF-8">
	<link rel = "stylesheet" th:href = "@{/basics.css}">
	<script type = "text/javascript" th:src = "@{/basics.js}"></script>
	<style>
table.main { width: 50%; border: 1px solid black; border-radius: 10px; border-spacing: 0px; }
th { padding: 0px; border: 0px; border: 1px solid black; }
td { text-align: center; border: 0px; }

fieldset { background: white; width: 48%; border-radius: 7px; height: 50px; overflow: auto; }
legend { background: white; border-top: 1px solid black; border-radius: 7px;}
button, input, textarea { font-size: 14pt; font-family: Arial; border-radius: 5px; }
button { border: 5px outset #d0d0c0; }
input.sml { border: 0px; background: transparent; width: 10px; }
img { border: 1px solid black; width: 40px; height: 40px; border-radius: 5px; }
img.top { width: 60px; height: 60px; padding: 0px; }

.grp { white-space: nowrap; }
.shrt { width: 1%; }
.long { width: 80%; }



	</style>
</head>

<body>
<center><h3>history inputs</h3><br/>

	<br/>
	<form th:action = "@{/posted}" th:object = "${history}" method = "post">
		<table class = "main">
			<tr>
				<td style = "padding: 0px;">
					<img class = "top" th:src = "@{/images/history.png}"/></td>
				<td><h3><span th:text = "${#dates.formatISO(#dates.createNow())}"/>
					<br/>[[${blurb}]]<br/>
					<input type = "hidden" name = "id" th:field = "*{id}" readonly>
				</h3>
				</td>
			</tr>
		</table>

		<br/>
		<fieldset>
			<legend>summary</legend>
			[[${historySum}]]
		</fieldset>

		<br/>
		<table class = "main">
			<tr>
				<th class = "shrt">
					<button th:onclick = "javascript: location.href='/listing';">&#8592;</button>
					<button>&#8594;</button>
				</th>
				<td>
		<span class = "grp">
		<input type = "radio" name = "datebegpre" value = "-" th:field = "*{datebegpre}">-
		<input type = "radio" name = "datebegpre" value = "+" th:field = "*{datebegpre}">+
			<input type = "text" name = "datebeg" placeholder = "datebeg"
				th:field = "*{datebeg}"
				title = "attempt to use 4 digit year; otherwise use SQL 0004-00-00-00.00.00"/></span><br/>
					<span class = "grp">
		<input type = "radio" name = "dateendpre" value = "-" th:field = "*{dateendpre}">-
		<input type = "radio" name = "dateendpre" value = "+" th:field = "*{dateendpre}">+
			<input type = "text" name = "dateend" placeholder = "dateend"
				th:field = "*{dateend}"/></span>
				</td>
			</tr>

			<th>
				<button>&#8592;</button>
				<button>&#8594;</button>
			</th>
			<td>
				<select name = "eramain"><!--title = "Scribes, Judges, Kings"-->
					<option>eramain</option>
					<option>Hebrew Prehistoric</option>
					<option>Hebrew Patriarchs</option>
					<option>Hebrew -1500 -1100 Soferim/Shoftim </option>
					<option>Hebrew -1100 -0900 United Monarchies </option>
					<option>Hebrew -0900 -0586 Divided Monarchies </option>
					<option>Hebrew -0586 -0170 Persian/Hellenistic period </option>
					<option>Hebrew -0170 +0600 Chazal (Sages) </option>
					<option>Hebrew -0170 +0030 Chazal Zugot (Pairs) / Hasmonean </option>
					<option>Hebrew +0030 +0200 Chazal Tannaim (Repeaters)</option>
					<option>Hebrew +0200 +0500 Chazal Amoraim (Spokesmen)</option>
					<option>Hebrew +0500 +0600 Chazal Savoraim (Reasoner)</option>
					<option>Hebrew +0589 +1038 Geonim (splendor)</option>
					<option>Hebrew +1038 +1563 Rishonim (first)</option>
					<option>Hebrew +1563 +2020 Acharonim (last) / Modern</option>

					<option>Africa Prehistoric</option>
					<option>Africa Egypt Old Kingdom</option>
					<option>Africa Egypt Mid Kingdom</option>
					<option>Africa Egypt New Kingdom</option>
					<option>Africa Egypt Persian Period</option>
					<option>Africa Egypt Hellenistic Period</option>
					<option>Africa Egypt Caliphates</option>
					<option>Africa PostColonial</option>
					<option>Africa Modern</option>

					<option>Mesopotamia Prehistoric</option>
					<option>Mesopotamia Sumer Empire</option>
					<option>Mesopotamia Assyria Empire</option>
					<option>Mesopotamia Babylon Empire</option>
					<option>Mesopotamia Persia Empire</option>
					<option>Mesopotamia Parthia Empire</option>
					<option>Mesopotamia Sassanid Empire</option>
					<option>Mesopotamia Islam Caliphates</option>
					<option>Mesopotamia Modern</option>

					<option>India Prehistoric</option>
					<option>India Bronze / IVC & OCP cultures</option>
					<option>India Iron / Vedic Period</option>
					<option>India Buddhist Period</option>
					<option>India Gupta Empire</option>
					<option>India Medieval Period / Cholas</option>
					<option>India Sultunates</option>
					<option>India Colonial</option>
					<option>India Modern</option>

					<option>China Prehistoric</option>
					<option>China Sages</option>
					<option>China Xia/Shang/Zhou</option>
					<option>China Qin&Han Empires</option>
					<option>China 6 Dynasties</option>
					<option>China Sui/Tang/Song</option>
					<option>China Yuan/Ming/Qing</option>
					<option>China YuaNModern</option>

					<option>Europe Prehistoric</option>
					<option>Europe Minoan Empire</option>
					<option>Europe Mycanean Empire</option>
					<option>Europe Greek Monarchies</option>
					<option>Europe Macedon Empire</option>
					<option>Europe Roman Empire</option>
					<option>Europe Byzantine/Gothic Empires</option>
					<option>Europe Renaissance/Reformation</option>
					<option>Europe Modern</option>

					<option>America Prehistoric/Archaic</option>
					<option>America Woodland</option>
					<option>America Colonial</option>
					<option>America Modern</option>

				</select>

				<select name = "locale">
					<option>locale</option>
					<option>Canaan</option>
					<option>Africa NW</option>
					<option>Africa NE</option>
					<option>Africa South</option>
					<option>Mesopotamia, Turkey</option>
					<option>Mesopotamia, Iraq</option>
					<option>Mesopotamia, Iran</option>
					<option>Mesopotamia, SaudiArabia</option>
					<option>Asia, South (India)</option>
					<option>Asia, East (China)</option>
					<option>Europe, West</option>
					<option>Europe, East</option>
					<option>America North</option>
					<option>America Central</option>
					<option>America South</option>
					<option>Australia</option>
					<option>Antartica</option>
					<option>Ocean Pacific</option>
					<option>Ocean Atlantic</option>
					<option>Ocean Indian</option>
					<option>Worldwide</option>
				</select>
				<br/>
				<input class = "long" type = "text" name = "locations" placeholder = "locations"
					th:field = "*{locations}"
					title = "ideally: modernCountry, modernCity; ancientCountry, ancientCity"/>
			</td>
			</tr>

			<th>
				<button>&#8592;</button>
				<button>&#8594;</button>
			</th>
			<td>
				<input class = "long" type = "text" name = "personname" placeholder = "personname"
					th:field = "*{personname}"
					title = "ideally: period dynasty # king # firstName lastName, commonName"/><br/>
				<textarea class = "long" type = "text" name = "eventmain" placeholder = "eventmain"
					th:field = "*{eventmain}" rows = "2" cols = "50"
					title = "short description of primary activities"/>
			</td>
			</tr>

			<th>
				<button>&#8592;</button>
				<button>&#8594;</button>
			</th>
			<td>
				<input class = "long" type = "text" name = "referenced" placeholder = "referenced"
					title = "short list of supporting evidences or references "
					th:field = "*{referenced}"/><br/>
				<input class = "long" type = "text" name = "groupings" placeholder = "groupings"
					title = "tagged information, comma separated"
					th:field = "*{groupings}"/>
			</td>
			</tr>

			<!--https://stackoverflow.com/questions/63683474/how-to-put-variable-to-img-src-path-in-spring-with-thymeleaf /-->
			<th><img th:src = "@{${'/images/' + history.mediaicopath + '.jpg'}}"
				th:onclick = "javascript: showImage(this);"/></th>
			<td>
				<input class = "long" type = "text" name = "mediaicopath" placeholder = "mediaicopath"
					th:field = "*{mediaicopath}"
					title = "ideally a curated (squared, low resolution) jpg"/>
			</td>
			</tr>
		</table>

		<br/>
		<button name = "nav" value = "back"><<<</button>
		<button name = "nav" value = "list">List</button>
		<button name = "nav" value = "delete">Delete</button>
		<button name = "nav" value = "save">Save</button>
		<button name = "nav" value = "clear">Clear</button>
		<button name = "nav" value = "frwd">>>></button>
	</form>

	<br/>
	<hr/>
	<a href = "/">return</a>
	<br/><h6 th:text = "${#strings.randomAlphanumeric(10)}"></h6>

</center>
</body>
</html>
