
body { background: #101010; color: #f0f0f0; font-family: verdana, monospace; margin: auto; text-align: center; }

h1, h2, h3, h4, h5, h6 { color: #8080f0; display: inline; }

a, a.hover, a.visited { color: #8080f0; text-decoration: none ; font-size: 9pt; }

table { background: #000000; width: 98%; margin: auto;
	border-spacing: 1px; border-collapse: collapse; border-radius: 10pt; }
input, th, td { background: #000000; color: #ffffff; }
tr:nth-child(even) { background: #ffffff; }
tr:nth-child( odd) { background: #e0e0e0; }
th, td { border: 0.5px solid white; padding: 4px; padding-left: 16px; font-size: 9pt; }
td { text-align: left; border-radius: 10pt; }
td:nth-child( 3 ) { text-align: right; }

hr { color: #e0e0e0; width: 80%; }

.divbox { height: 240px; overflow: scroll; width: 80%; margin: auto; background-color: #202020;}

.red { background-color: #f04040; }
.blu { background-color: #4040f0; }
.grn { background-color: #40f040; }
.prp { background-color: #000000; }
.gra { background-color: #404040; }
