<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "https://www.thymeleaf.org">
<head><title>Item</title>
	<link rel = "stylesheet" th:href = "@{/basics.css}">
</head>
<body>
<div th:replace="~{/showHeader :: showHeaderLinks}"> </div>

<br />
	<h3>Customer Item!</h3>
	<br /><h5 th:text = "${#dates.formatISO(#dates.createNow())}"/>
	<br />

<br /><table>
<tr>
	<td th:text="${#dates.format(#dates.createNow(),'HH:mm:ss.SSSS')}" />
	<td th:text="${customer.customer_id}" />
	<td th:text="${customer.store_id}" />
	</tr>
<tr>
	<td th:text="${customer.first_name}" />
	<td />
	<td th:text="${customer.last_name}" />
	</tr>
<tr>
	<td th:text="${customer.email}" />
	<td th:text="${customer.address_id}" />
	<td th:text="${customer.activebool}" />
	</tr>
<tr>
	<td th:text="${customer.create_date}" />
	<td th:text="${customer.active}" />
	<td th:text="${customer.last_update}" />
	</tr>
</table>

</body>
</html>
